{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block page_content %}

<!-- Opções para adicionar um novo item -->
<section class="newItem">
    <input type="text" id="newNome" placeholder="Adicionar novo item:">
    <input type="text" id="newMarca" placeholder="Marca:">
    <input type="text" id="newCategoria" placeholder="Categoria:">
    <input type="text" id="newPreco" placeholder="Preço:">
    <input type="text" id="newPrecoPromocional" placeholder="Preço promocional:">
    <button onclick="newItem()" class="addBtn">Adicionar</button>
</section>

<!-- Tabela com items existentes -->
<section class="items">
    <table id="myTable">
        <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Preço promocional</th>
            <th colspan="2" id="settings_icon">⚙️</th>
        </tr>
    </table>
</section>
    
{% endblock %}